<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks</title>
    <link rel="stylesheet" href="/css/starbucks.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <!-- Navbar -->
    <header>
        <a href="#" class="logo"><img src="/img/logo.png" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href="#delivery">Delivery</a></li>
            <li><a href="#app">App</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="#">Settings</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>
    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text">
            <span>Welcome To</span>
            <h1>Starbucks Coffee</h1>
            <h2>Free Coffee is a <br>tap away</h2>
        </div>
        <div class="home-img">
            <img src="/img/home.png">
        </div>
    </section>
    <section class="shop" id="shop">
        <div class="heading">
            <span>Shop Now</span>
            <h1>Shop Coffee</h1>
        </div>
        <div class="shop-container">
            <div class="box">
                <div class="box-img">
                    <img src="/img/shop1.png">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Red Velvet Frappucino</h2>
                <span>Rp 50.000</span>
                <a href="#shop" class="btn">Top Fav #1</a>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="/img/shop2.png">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Asian Dolce Macchiato</h2>
                <span>Rp 55.000</span>
                <a href="#shop" class="btn">Top Fav #2</a>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="/img/shop3.png">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Green Tea Frappucino</h2>
                <span>Rp 60.000</span>
                <a href="#shop" class="btn">Top Fav #3</a>
            </div>
        </div>
        </div>
    </section>
    <!-- Delivery -->
    <section class="delivery" id="delivery">
        <div class="heading">
            <span>Get Now</span>
            <h1>Order With Uber Eats</h1>
        </div>
        <div class="container">
            <div class="delivery-img">
                <img src="/img/delivery.png">
            </div>
            <div class="delivery-text">
                <h2>Today deserve delivery</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic assumenda ex dignissimos reiciendis,
                    quis aperiam placeat quia veritatis. Officiis, autem!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio eos veritatis voluptatibus nisi
                    molestiae assumenda numquam sapiente quas tenetur.</p>
                <a href="/trscUser" class="btn">Order Now</a>
            </div>
        </div>
    </section>
    <!-- App -->
    <section class="app" id="app">
        <div class="heading">
            <span>Our App</span>
            <h1>Download App</h1>
        </div>
        <div class="container">
            <div class="app-text">
                <h2>Fall into an easier routine</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic assumenda ex dignissimos reiciendis,
                    quis aperiam placeat quia veritatis. Officiis, autem!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio eos veritatis voluptatibus nisi
                    molestiae assumenda numquam sapiente quas tenetur.</p>
                <a href="https://www.starbucks.com/rewards/mobile-apps/" class="btn">Get App</a>
            </div>
            <div class="app-img">
                <img src="/img/app.png">
            </div>
        </div>
    </section>
    <!-- About -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="/img/about.png">
        </div>
        <div class="about-text">
            <h2>50 years of serving communities</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic assumenda ex dignissimos reiciendis, quis
                aperiam placeat quia veritatis. Officiis, autem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio eos veritatis voluptatibus nisi
                molestiae assumenda numquam sapiente quas tenetur.</p>
            <a href="https://www.starbucks.co.id/" class="btn">Learn More</a>
        </div>
    </section>
    <!-- Contact -->
    <section class="contact" id="contact">
        <div class="social">
            <a href="https://id-id.facebook.com/"><i class='bx bxl-facebook'></i></a>
            <a href="https://twitter.com/"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.youtube.com/"><i class='bx bxl-youtube'></i></a>
        </div>
        <div class="links">
            <a href="#">Privacy Policy</a>
            <a href="#">Term Of Use</a>
            <a href="#">Our Company</a>
        </div>
        <p>&#169; Made With Love By Rafli ❤</p>
    </section>

    <!-- Main Js -->
    <script src="main.js"></script>
</body>

</html>