<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Form</title>
  </head>

  <body>
    <form action="/edit/<%= user.ID %>" method="post">
      <div>
        <span>Username : </span
        ><input type="text" name="username" value="<%= user.username %>" />
      </div>
      <div><button>Submit</button></div>
    </form>
  </body>
</html>
