* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #121212;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    transition: .3s;
}

.logo {
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 600;
    line-height: 0.8;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

#menu-icon {
    font-size: 38px;
    color: var(--text-color);
    z-index: 10001;
    display: none;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}

.navbar a:hover {
    background: var(--text-color);
    color: #fff;
}

.icons {
    display: inline-block;
}

.icons i {
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}

.icons i:hover {
    opacity: 0.7;
}

section {
    padding: 100px 8%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.dropbtn {
    background-color: #1e3932;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1e3932;
}

.box {
    padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
}

.box h4 {
    margin-top: 12px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.box .cart i {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: var(--text-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.box:hover {
    transform: translateY(-5px);
}

.form-center {
    margin-top: 12px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.about {
    background: #f7f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    font-size: var(--main-font);
    margin-bottom: 30px;
}

.about-content p {
    max-width: 600px;
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--text-color);
    line-height: 30px;
}

.contact {
    padding: 80px 17%;
    background: var(--text-color);
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    margin-bottom: 3rem;
}

.contact-content li {
    margin-bottom: 15px;
}

.contact-content li a {
    display: block;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}

.contact-content li a:hover {
    transform: translateX(-10px);
}

.action form {
    text-align: center;
}

.action form input[type="email"] {
    width: 460px;
    max-width: 100%;
    padding: 12px 15px;
    background: #515151;
    color: var(--bg-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight: 600;
}

.action form input[type="submit"] {
    padding: 10px 35px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.last {
    text-align: center;
    padding: 17px;
    background: #757575;
}

.last p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

@media (max-width: 800px) {
    #menu-icon {
        display: block;
    }

    header {
        padding: 15px 8%;
    }

    .navbar {
        top: -500px;
        left: 0;
        right: 0;
        position: absolute;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
        transition: all .40s ease;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0.5rem;
    }

    .navbar.active {
        top: 100%;
    }
}